<!--Application - HTML - tab2.page.html - HELP-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Help
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Help</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item padding>
  <p style="text-align:justify;">
    To choose the coffee machine, you need to tap the Get Machines button.
    After that, you are able to turn on a coffee machine by tappping the toggle button
    behind the coffee machine. When you finishing your practice, please turn
    off the coffee machine by tapping the toggle button again.
  </p>
  </ion-item>
</ion-content>
